.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.section h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 2rem;
  letter-spacing: 4px;
  font-weight: bold;
}

.section .content {
  margin: 5rem 0;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  flex-direction: column;
  background-image: linear-gradient(to bottom, black, white);
  /* position: relative; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(116, 114, 114);
  overflow-x: hidden;
}

.section .content .content2 {
  display: flex;
  transition: transform 0.3s;
}

.section .content .slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section .content .slide img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
  /* position: relative; */
  margin-top: 4rem;
  background-color: rgb(143, 143, 148);
}

.section .content .slide .quote-icon {
  position: absolute;
  top: 30%;
  left: 52%;
  background-color: #449cdf;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* margin-bottom: 25rem;
  margin-left: 20%; */
}

.section .content .slide .quote-icon img {
  color: #fff;
}

h3 {
  color: #fff;
  user-select: none;
  text-transform: uppercase;
  font-weight: 900;
}

.swipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  /* background-color: #449CDF; */
  background-color: transparent;
}
.prev-btn {
  background: transparent;
  color: #000;
  border: none;
  /* height: 50%;
    width: 40%; */
  font-size: 30px;
}
.next-btn {
  color: #000;
  background: transparent;
  border: none;
  font-size: 30px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 90%;
  font-style: italic;
  font-weight: bold;
  margin: 1rem 0;
}
