.choose {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: grey;

  }
  .choose img{
      height: 50px;
      width: 50px;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
  }
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    padding-right: 1rem;
    position: relative;
  }
  .search img{
      width: 25px;
      height: 25px;
      margin: 0;
      position: absolute;
      right: 10%;
  }
  .search input{
      height: 30px;
      border-radius: 15px;
  }
  .window{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row; 
    background-color: black;
  }
  .window img{
      height: 400px;
      width: 300px;
  }
  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 15rem;
    margin-top: 4rem;
    /* margin: 2rem 2rem 3rem 2rem; */
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 4rem;
    margin-bottom: 4rem;

  }
  .xxx {
    object-fit: contain;
  }
  .xxx img {
    width: 300px;
    height: 350px;
    border-radius: 1rem;
  }
  