.navbar {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  top: 0;
  z-index: 999;
}

/* .navbar.colorchange {
   background: rgba(255, 255, 255, 0.2) !important; 
  transition: background-color 0.5s;
  backdrop-filter: blur(25px) !important;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.4);
} */

.navbar .title {
  width: 25%;
  padding-left: 2rem;
}
.navbar .title h4 {
  padding: 0.5rem;
  font-size: 19px;
  font-weight: bold;
}

.navbar .title h4 a {
  color: #eee;
  text-decoration: none;
}

.navbar .other {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-left: 2rem; */
  margin-right: 3rem;
}

.navbar .other ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navbar .other li {
  display: inline;
  float: left;
}

.navbar .other a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar .other li:hover {
  background-color: #444;
}
