.navbar {
    height: 50px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
  }
.navbar ul {
    padding: 0;
    margin: 0;
  }
.navbar li {
    display: inline;
    float: left;
  }
.navbar a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
.navbar li:hover {
    background-color: #444;
  }