* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  border: 2px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgb(255, 205, 202);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #4b4b4b;
}
