.social {
  color: #1071cc;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.socialText {
  padding: 2rem;
}

.socialText h1 {
  font-size: 35px;
}

.socialImage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 2rem 4rem 2rem;
}

.cricket {
  width: 20%;
}
.cricket img {
  width: 300px;
  height: 350px;
  border-radius: 1rem;
  object-fit: cover;
}
