/* 
.container{
    width: 80%;
    margin:auto ;
    overflow: hidden;
}
.navbar ul{
    padding: 0;
    list-style: none;
}
.navbar li{
    display: inline;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;

} */
/* .container{
    background: url("https://previews.123rf.com/images/artitcom/artitcom1807/artitcom180700014/104840328-creative-illustration-of-business-infographics-rise-career-to-success-finance-opportunity-concept-wi.jpg") no-repeat center/cover;
} */

.container .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: aqua;
}

.container .info .img {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.container .info .img img {
  width: 500px;
}

.container .info .text {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
}
